body {
    margin: auto;
    color: #303030;
    font-family: "Montserrat";
    background-color: #F4F4F4F4;
  }

  .container {
    max-width: 1440px;
  }

  h3 {
    font-size: 48px;
  }

  a {
    text-decoration: none;
  }

  .center {
    justify-content: center;
    align-items: center;
  }

  .flex {
    display: flex;
  }

  .column {
    flex-direction: column;
  }

  section {
    width: 100vw;
    justify-content: center;
    margin: auto;
    margin-bottom: 150px;
  }

  .button {
    width: 350px;
    height: 50px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 8px;
    justify-content: space-between;
    cursor: pointer;
  }

  h1 {
    font-size: 80px;
    font-weight: 800;
    text-align: center;
  }

  p {
    font-size: 16px;
    font-weight: 700;
  }

  span {
    font-size: 12px;
    color: #777;
    justify-content: end;
    display: flex;
  }



  header {
    background-color: black;
    height: 42px;
    margin: auto;
    padding: 8px 0px;
  }

  /* <-----------------------> */
  .s-1 .main {
    margin: auto;
    width: 80%;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
  }

  .s-1 .main div {
    gap: 50px;
    justify-content: space-around;

  }


  /* <-----------------------> */
  .button:hover {
    background-color: black;
    color: white;
    transition: 0.4s;
  }

  .s-2 {
    justify-content: space-between;
    margin: auto;
    position: relative;
    max-width: 1300px;
  }

  .s-2 .left .cards {
    gap: 30px;
    flex-direction: column;
  }

  /* <-----------------------> */
  .s-3 {
    max-width: 1000px;
    margin: auto;
    margin-bottom: 100px;
    margin-top: 250px;
    flex-wrap: wrap;

  }

  .article {
    max-width: 700px;
    gap: 50px;
    justify-content: center;
    flex-wrap: wrap;

  }

  .s-3 img {
    width: 138px;
  }

  .s-3 .card-2 {
    padding: 20px;
    box-sizing: border-box;
    width: 310px;
    background-color: white;
    border-radius: 10px;
  }

  .s-3 h3 {
    font-size: 32px;
  }

  .s-3 h2 {
    font-size: 48px;
  }

  .s-3 .card-2 ul li {
    font-size: 20px;
  }

  .s-3 li {
    color: #777777;
  }

  .s-3 li span {
    font-size: 20px;
    font-weight: 700;
    display: flex;
    justify-content: start;
  }

  #border {
    border: 1px solid #18BA51;
  }

  /* <-----------------------> */
  .s-4 {
    background-color: #171717;
    border-bottom: solid 1px #18BA51;
    padding: 50px;
    box-sizing: border-box;
  }

  #text-color-white {
    color: white;
    font-size: 32px;
  }

  #text-color-white:hover {
    color: #18BA51;
  }

  .s-4 #button-green {
    background-color: #18BA51;
    width: 130px;
    color: white;
    border-radius: 8px;
  }

  #border-green {
    border: solid 1px #18BA51;
  }

  /* <-----------------------> */
  /* <-----------------------> */

  .empty {
    position: relative;
    width: 100%;
    height: 1024px;
  }

  .image-box {
    position: absolute;
    background-image: url("image\ 29.png");
    width: 720px;
    height: 1024px;
    background-repeat: no-repeat;
    right: 0;
    top: 0;
  }

  #card-2:hover~.image-box {
    background-image: url("image\ 30.png");
  }

  #card-3:hover~.image-box {
    background-image: url("image\ 31.png");
  }

  #card-4:hover~.image-box {
    background-image: url("image\ 32.png");
  }

  #card-5:hover~.image-box {
    background-image: url("image\ 33.png");
  }

  #card-6:hover~.image-box {
    background-image: url("image\ 29.png");
  }

  footer {
    margin: auto;
    background-color: #101010;
    justify-content: space-between;
  }

  .footer {
    max-width: 1200px;
    width: 1200px;
    margin: auto;
    justify-content: space-between;
  }

  .footer .right {
    width: 430px;
    justify-content: space-between;
  }

  footer img {
    width: 24px;
    height: 24px;
  }

  footer p {
    color: white;
    font-size: 28px;
  }

  .ftr-card {
    border-radius: 8px;
    height: 50px;
    width: 200px;
    gap: 10px;
  }


  @media screen and (max-width:1200px) {
    .s-1 .main img {
        width: 250px;
        height: 250px;
    }

    .s-1 .main {
        flex-wrap: wrap;
        margin: auto;
    }

    .image-box {
        display: none;
    }

    .empty {
        display: none;
    }

    .s-2 {
        justify-content: center;
    }
  }